## Add vector datasets

### Add CSV

Read a CSV as a Pandas DataFrame.

In [3]:
import os
import leafmap

In [4]:
in_csv = 'https://raw.githubusercontent.com/opengeos/data/main/world/world_cities.csv'
df = leafmap.csv_to_df(in_csv)
df

        id            name country  latitude  longitude  population
0        1           Bombo     UGA   0.58330   32.53330       75000
1        2     Fort Portal     UGA   0.67100   30.27500       42670
2        3         Potenza     ITA  40.64200   15.79900       69060
3        4      Campobasso     ITA  41.56300   14.65600       50762
4        5           Aosta     ITA  45.73700    7.31500       34062
...    ...             ...     ...       ...        ...         ...
1244  1245  Rio de Janeiro     BRA -22.92502  -43.22502    11748000
1245  1246       Sao Paulo     BRA -23.55868  -46.62502    18845000
1246  1247          Sydney     AUS -33.92001  151.18518     4630000
1247  1248       Singapore     SGP   1.29303  103.85582     5183700
1248  1249       Hong Kong     CHN  22.30498  114.18501     7206000

[1249 rows x 6 columns]

Create a point layer from a CSV file containing lat/long information.

In [5]:
m = leafmap.Map()
m.add_xy_data(in_csv, x="longitude", y="latitude", layer_name="World Cities")
m

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…

Set the output directory.

In [6]:
out_dir = os.getcwd()
out_shp = os.path.join(out_dir, 'world_cities.shp')

Convert a CSV file containing lat/long information to a shapefile.

In [7]:
leafmap.csv_to_shp(in_csv, out_shp)

Convert a CSV file containing lat/long information to a GeoJSON.

In [8]:
out_geojson = os.path.join(out_dir, 'world_cities.geojson')
leafmap.csv_to_geojson(in_csv, out_geojson)

Convert a CSV file containing lat/long information to a GeoPandas GeoDataFrame.

In [9]:
gdf = leafmap.csv_to_gdf(in_csv)
gdf

,id,name,country,latitude,longitude,population,geometry
0,1,Bombo,UGA,0.58330,32.53330,75000,POINT (32.53330 0.58330)
1,2,Fort Portal,UGA,0.67100,30.27500,42670,POINT (30.27500 0.67100)
2,3,Potenza,ITA,40.64200,15.79900,69060,POINT (15.79900 40.64200)
3,4,Campobasso,ITA,41.56300,14.65600,50762,POINT (14.65600 41.56300)
4,5,Aosta,ITA,45.73700,7.31500,34062,POINT (7.31500 45.73700)
...,...,...,...,...,...,...,...
1244,1245,Rio de Janeiro,BRA,-22.92502,-43.22502,11748000,POINT (-43.22502 -22.92502)
1245,1246,Sao Paulo,BRA,-23.55868,-46.62502,18845000,POINT (-46.62502 -23.55868)
1246,1247,Sydney,AUS,-33.92001,151.18518,4630000,POINT (151.18518 -33.92001)
1247,1248,Singapore,SGP,1.29303,103.85582,5183700,POINT (103.85582 1.29303)
1248,1249,Hong Kong,CHN,22.30498,114.18501,7206000,POINT (114.18501 22.30498)

## Download OSM data

### OSM from geocode

Add OSM data of place(s) by name or ID to the map. Note that the leafmap custom layer control does not support GeoJSON, we need to use the ipyleaflet built-in layer control.

In [10]:
import leafmap

In [11]:
m = leafmap.Map(toolbar_control=False, layers_control=True)
m.add_osm_from_geocode("New York City", layer_name='NYC')
m

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…

In [12]:
m = leafmap.Map(toolbar_control=False, layers_control=True)
m.add_osm_from_geocode("Chicago, Illinois", layer_name='Chicago, IL')
m

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…

### OSM from place

Add OSM entities within boundaries of geocodable place(s) to the map.

Show OSM feature tags.
https://wiki.openstreetmap.org/wiki/Map_features

In [13]:
# leafmap.osm_tags_list()

### OSM from bbox

In [14]:
m = leafmap.Map(toolbar_control=False, layers_control=True)
north, south, east, west = 40.7551, 40.7454, -73.9738, -73.9965
m.add_osm_from_bbox(
    north, south, east, west, tags={"amenity": "bar"}, layer_name="NYC bars"
)
m

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…

### OSM from point

Add OSM entities within some distance N, S, E, W of a point to the map.

In [15]:
m = leafmap.Map(
    center=[46.7808, -96.0156], zoom=12, toolbar_control=False, layers_control=True
)
m.add_osm_from_point(
    center_point=(46.7808, -96.0156),
    tags={"natural": "water"},
    dist=10000,
    layer_name="Lakes",
)
m

/home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.10/site-packages/ipywidgets/widgets/widget.py:501: DeprecationWarning: Passing unrecognized arguments to super(Map).__init__(toolbar_control=False, layers_control=True).
object.__init__() takes exactly one argument (the instance to initialize)
This is deprecated in traitlets 4.2.This error will be raised in a future release of traitlets.
  super().__init__(**kwargs)

Map(center=[46.7808, -96.0156], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'z…

In [16]:
m = leafmap.Map(
    center=[39.9170, 116.3908], zoom=15, toolbar_control=False, layers_control=True
)
m.add_osm_from_point(
    center_point=(39.9170, 116.3908),
    tags={"building": True, "natural": "water"},
    dist=1000,
    layer_name="Beijing",
)
m

/home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.10/site-packages/ipywidgets/widgets/widget.py:501: DeprecationWarning: Passing unrecognized arguments to super(Map).__init__(toolbar_control=False, layers_control=True).
object.__init__() takes exactly one argument (the instance to initialize)
This is deprecated in traitlets 4.2.This error will be raised in a future release of traitlets.
  super().__init__(**kwargs)

Map(center=[39.917, 116.3908], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zo…

### OSM from view

Add OSM entities within the current map view to the map.

In [17]:
m = leafmap.Map(toolbar_control=False, layers_control=True)
m.set_center(-73.9854, 40.7500, 16)
m

/home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.10/site-packages/ipywidgets/widgets/widget.py:501: DeprecationWarning: Passing unrecognized arguments to super(Map).__init__(toolbar_control=False, layers_control=True).
object.__init__() takes exactly one argument (the instance to initialize)
This is deprecated in traitlets 4.2.This error will be raised in a future release of traitlets.
  super().__init__(**kwargs)

Map(center=[40.75, -73.9854], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoo…

In [18]:
m.add_osm_from_view(tags={"amenity": "bar", "building": True}, layer_name="New York")

Create a GeoPandas GeoDataFrame from place.

In [19]:
gdf = leafmap.osm_gdf_from_place("New York City", tags={"amenity": "bar"})
gdf

/home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.10/site-packages/leafmap/osm.py:78: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  ox.config(use_cache=True, log_console=False)

                        addr:city addr:country addr:housenumber addr:postcode  \
element_type osmid
node         368043598   New York           US               53         10014
             419366609        NaN          NaN              NaN           NaN
             419367969        NaN          NaN              NaN           NaN
             484076447        NaN          NaN              748         11238
             484078905   Brooklyn          NaN              388         11211
...                           ...          ...              ...           ...
way          637354701        NaN          NaN              308         11238
             664632831        NaN          NaN             1840         10128
             665897391   New York          NaN               54         10001
             1073233725       NaN          NaN             9259         11209
relation     12554650         NaN          NaN              NaN           NaN

                        addr:state         addr:street amenity  ele  \
element_type osmid
node         368043598          NY  Christopher Street     bar    7
             419366609         NaN                 NaN     bar  NaN
             419367969         NaN                 NaN     bar  NaN
             484076447         NaN   Washington Avenue     bar  NaN
             484078905          NY        Union Avenue     bar  NaN
...                            ...                 ...     ...  ...
way          637354701         NaN     Flatbush Avenue     bar  NaN
             664632831         NaN          2nd Avenue     bar  NaN
             665897391         NaN    West 31st Street     bar  NaN
             1073233725        NaN          4th Avenue     bar  NaN
relation     12554650          NaN                 NaN     bar  NaN

                        gnis:county_name gnis:feature_id  ...  \
element_type osmid                                        ...
node         368043598          New York         2082946  ...
             419366609               NaN             NaN  ...
             419367969               NaN             NaN  ...
             484076447               NaN             NaN  ...
             484078905               NaN             NaN  ...
...                                  ...             ...  ...
way          637354701               NaN             NaN  ...
             664632831               NaN             NaN  ...
             665897391               NaN             NaN  ...
             1073233725              NaN             NaN  ...
relation     12554650                NaN             NaN  ...

                                                                     nodes  \
element_type osmid
node         368043598                                                 NaN
             419366609                                                 NaN
             419367969                                                 NaN
             484076447                                                 NaN
             484078905                                                 NaN
...                                                                    ...
way          637354701   [6008887827, 6008887826, 6008887825, 600888782...
             664632831   [6221107512, 6221107513, 2724133219, 272413325...
             665897391   [4186110812, 2703449561, 2703449572, 270344958...
             1073233725  [9845617100, 6008596990, 2552554773, 255255476...
relation     12554650    [[[7077878485, 2832456280, 2832456267, 2832456...

                        height building:levels drink:cocktails  \
element_type osmid
node         368043598     NaN             NaN             NaN
             419366609     NaN             NaN             NaN
             419367969     NaN             NaN             NaN
             484076447     NaN             NaN             NaN
             484078905     NaN             NaN             NaN
...                        ...             ...             ...
way          637354701     NaN             NaN             NaN
             664632831     NaN             NaN             NaN
             665897391     NaN             NaN             NaN
             1073233725    NaN             NaN             NaN
relation     12554650      NaN             NaN             NaN

                        building:colour roof:material roof:shape closed  \
element_type osmid
node         368043598              NaN           NaN        NaN    NaN
             419366609              NaN           NaN        NaN    NaN
             419367969              NaN           NaN        NaN    NaN
             484076447              NaN           NaN        NaN    NaN
             484078905              NaN           NaN        NaN    NaN
...                                 ...           ...        ...    ...
way          637354701              NaN           NaN        NaN    NaN
             664632831              NaN           NaN        NaN    NaN
             665897391              NaN           NaN        NaN    NaN
             1073233725             NaN           NaN        NaN    NaN
relation     12554650               NaN           NaN        NaN    NaN

                                           ways          type
element_type osmid
node         368043598                      NaN           NaN
             419366609                      NaN           NaN
             419367969                      NaN           NaN
             484076447                      NaN           NaN
             484078905                      NaN           NaN
...                                         ...           ...
way          637354701                      NaN           NaN
             664632831                      NaN           NaN
             665897391                      NaN           NaN
             1073233725                     NaN           NaN
relation     12554650    [278963046, 278963089]  multipolygon

[1146 rows x 185 columns]